<h3><%=question.text%></h3>

<form id="take-survey-question" action = "/questions/<%=question.id%>/votes" method="post">
  <ul>
    <%question.choices.each do |choice|%>
          <li><input type="radio" name="choice" value="<%=choice.id%>" > <%=choice.text%></li>
    <%end%>

    <li><input type="submit" value="Submit"></li>
  </ul>


</form>
