/*******************************
         General
********************************/

body {
  font-family: 'Merriweather Sans', sans-serif;
  margin: 0 auto;
  font-weight: normal;
  background-image: url("../imgs/background.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

ul li {
  font-size: 1.25em;
  margin-bottom: 20px;
}


/*******************************
         Colors
********************************/

body, .btn {
  color: #056EFF;
}

header {
  border-bottom: 4px solid #00A2E8;
}

.logo h1 {
  color: #0077E8;
}

a, a:visited {
  color: #002675;

}


nav a, nav a:visited {
  color: #0077E8;
}

nav a.selected, nav a:hover {
  color: #009AFF;
}





/*****************************
        Header
******************************/

header {
  float: left;
  margin: 0 0 20px;
  padding: 5px 0 0;
  width: 100%;
  height: 20%;
}

.logo {
  float: left;
  text-align: center;
  margin: 0 0 0 5%;
}

.logo h1 {
  margin: 20px 20px 20px;
  font-family:'Lato', sans-serif;
  font-size: 2.75em;
}




/******************************
        Navigation
********************************/

nav {
  float: right;
  text-align: center;
  padding: 10px 0;
  margin: 20px 2% 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 700;
  font-size: 1.1em;
  padding: 10px;
}



/******************************
            Forms
********************************/

button {
  margin: 15px 10px;
}

.pure-button {
  margin-bottom: 10px;
}


#take-survey-question div {
  position: relative;
  left: 10%;
  margin: 0 auto;
  width: 40%;
  text-align: left;
}

