<h1> Create a Survey here </h1>

<form action = '/surveys' method = 'post'>
  <label for='survey[title]'>Title</label>
  <input type = 'text' name = 'survey[title]'>

  <label for='survey[description]'>Description</label>
  <input type = 'text' name = 'survey[description]'>

  <input type='hidden' name='survey[creator_id]' value='3'>

  <input type = 'submit' value = 'Add Survey'>
</form>


