<h1>Survey <%=@survey.title%></h1>

<%@survey.questions.each do |question|%>

<ul>
  <li><%=question.text%>
    <ul><%question.choices.each do |choice|%>
      <li><%=choice.text%></li>
      <%end%>
    </ul>
  </li>
</ul>

<%end%>
