<h2>Welcome to 3 Frogs and 1 Fox</h2>
<% if !logged_in? %>
  <h3>No Account?</h3>
  <h4><a href="/users/new">Register</a></h4>
<% else %>
  <h3><a href="/surveys/new">Create a New Survey</a></h3>
<% end %>
